/target/
*.mvn/wrapper/*

#STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

#NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#MacOsX
.DS_Store
/src/.DS_Store
/src/main/.DS_Store
/src/main/resources/.DS_Store
/src/main/resources/static/.DS_Store
/src/main/resources/static/DataTables-1.10.18/.DS_Store

#Maven
mvnw
mvnw.cmd
*.mvn
*mvnw
/mvnw
/mvnw.cmd
*mvnw.cmd

HELP.md
