<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login - Shakespeare's Bank </title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>

<body>

    <!-- create navigation bar ( header) -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Shakespeare's Bank</span>
    </nav>
    <div class="container text-center">
        <br><br>
        <h4>Something went wrong</h4>
        <p>Please contact customer service</p>
        <a href="/">Home</a>
        <br><br>
    </div>

</div>
<div lang="en" th:replace="footer"> </div>
</body>