
    <footer class="footer mt-auto py-3 bg-dark text-center text-white" th:fragment="footer">
        <div class="container text-center text-md-start pt-3">
            <p> <a  href="/downloadLicenses?license=terms-of-use.txt"> Terms of Use</a></p>
            <p> Licenses: <a href="/downloadLicenses?license=spring-boot-license.txt">Spring Boot</a> |
                <a href="/downloadLicenses?license=thymeleaf-license.txt">Thymeleaf</a> |
                <a href="/downloadLicenses?license=projectlombok-license.txt">Project Lombok</a></p>
        </div>
        <div class="text-center pb-3"> © 2022 Copyright: <a class="text-white">Shakespeare 266p Bank App</a> </div>
    </footer>

