<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>User Login - Shakespeare's Bank </title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
		  rel="stylesheet">
	<link href="//docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

</head>

<body class="d-flex flex-column min-vh-100">

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">Shakespeare's Bank</span>
		<div class="navbar-nav">
			<a class="nav-link" th:href="@{/transactions}">Login</a>
		</div>
</nav>

<main class="flex-shrink-0">
	<div class="container-fluid">
		<br><br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-6">

				<h1>User Login Page</h1>
				<form th:action="@{/login}" method="post">

					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
					</div>

					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>

					<div class="form-group">
						<label for="username"> Username </label> : <input type="text"
																		  class="form-control" id="username" name="username"
																		  placeholder="Enter Username ID" autofocus="autofocus">
					</div>

					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
																	   id="password" name="password" class="form-control"
																	   placeholder="Enter Password" />
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									   class="form-control btn btn-primary" value="Log In" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
						<span>New user? <a href="/transactions" th:href="@{/registration}">Register
								here</a></span>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</main>

<div th:replace="footer"> </div>

</body>

</html>